#user
  .userContainer
    form.blacklistForm
      input(name='userId', value='#{userId}', type='hidden')

      if isInBlacklist
        button.ui.black.button 移出黑名单
      else
        button.ui.black.button 拉入黑名单

    unless isOwnProfile
      form.followForm
        input(name='userId', value='#{userId}', type='hidden')

        if isFollowing
          button.ui.green.button 取消关注
        else
          button.ui.green.button 关注
    h1 #{name} 的个人信息
    div.ui.form.segment
      div.field
        div.field
          .avatar
            div
              img(src='#{profile.avatarUrl}')
        div.userinformation
          div.field
            .nickname
              h3 昵称: #{profile.nickname}
          div.field
            .age
              h3 年龄: #{profile.age} 岁
          div.field
            .gender
              h3 性别: #{profile.gender}
          div.field
            .occupation
              h3 职业: {{orderToOccupation profile.occupation}}
        div.field
          div.ui.button
            a(href='/followingvote') 关注人的投票
          div.ui.button
            a(href='/editprofile') 修改个人信息
      div.ui.ribbon.label.huge 关注
      div.addsomespace
      div.field
        each following
          span.userbutton
            a(href='/profile/#{username}')
              button.circular.ui.blue.button 
                span
                  i.user.icon
                span #{username}
      div.ui.ribbon.label.huge 粉丝
      div.addsomespace
      div.field
        each followedBy
          div.userbutton
            a(href='/profile/#{username}')
              button.circular.ui.blue.button
                span
                  i.user.icon
                span #{username}



