#votelist
  div votelist

  each votelist
    hr

    form.deleteForm
      input(type='hidden', name='voteId', value='#{_id}')
      input(type='hidden', name='firstImageId', value='#{firstImageId}')
      input(type='hidden', name='secondImageId', value='#{secondImageId}')
      button delete

    form.reportForm
      input(type='hidden', name='voteId', value='#{_id}')
      button report

    form.statusForm
      input(type='hidden', name='voteId', value='#{_id}')
      if isOpen
        button close
      else
        button open

    div.reportNum
      span reportNum:
      span #{reportNum}

    div.edit
      a(href='/editvote/#{_id}') edit

    div.title
      span title:
      a(href='/detail/#{_id}') #{title}
    div.initiator
      span initiator:
      a(href='/profile/#{initiator}') #{initiator}
    div.category
      span category:
      span #{category}

    div.isOpen
      span isOpen:
      span #{isOpen}
    div.modifyDate
      span modifyDate:
      span #{modifyDate}

    img.firstImage(src='#{firstUrl}')
    div.firstDescription
      span firstDescription:
      span #{firstDescription}
    div.numOfFirst
      span numOfFirst:
      span #{numOfFirst}


    img.secondImage(src='#{secondUrl}')
    div.secondDescription
      span secondDescription:
      span #{secondDescription}
    div.numOfSecond
      span numOfSecond:
      span #{numOfSecond}

    div.question
      span question:
      span #{question}

    div.statistics
      div first statistics
        div gender:
          div
            span male:
            span #{statisticsOfFirst.gender.male}
          div
            span female:
            span #{statisticsOfFirst.gender.female}

        hr

        div age:
          div
            span 0-20:
            span #{statisticsOfFirst.age.group0}
          div
            span 21-30:
            span #{statisticsOfFirst.age.group1}
          div
            span 31-40:
            span #{statisticsOfFirst.age.group2}
          div
            span 41-50:
            span #{statisticsOfFirst.age.group3}
          div
            span 50+:
            span #{statisticsOfFirst.age.group4}

        hr

        div occupation:
          div
            span 互联网科技:
            span #{statisticsOfFirst.occupation.occup0}
          div
            span 金融:
            span #{statisticsOfFirst.occupation.occup1}
          div
            span 信息传媒:
            span #{statisticsOfFirst.occupation.occup2}
          div
            span 教育:
            span #{statisticsOfFirst.occupation.occup3}
          div
            span 医疗卫生:
            span #{statisticsOfFirst.occupation.occup4}
          div
            span 服务业:
            span #{statisticsOfFirst.occupation.occup5}
          div
            span 地产建筑:
            span #{statisticsOfFirst.occupation.occup6}
          div
            span 国家机关:
            span #{statisticsOfFirst.occupation.occup7}
          div
            span 农林牧鱼:
            span #{statisticsOfFirst.occupation.occup8}
          div
            span 制作加工:
            span #{statisticsOfFirst.occupation.occup9}

        //- 获取第二张图片的数据只需吧上面的 statisticsOfFirst 改成 statisticsOfSecond 即可
