#editvote
  form.editvote.ui.form.segment
    input(type='hidden', name='voteId', value='#{vote._id}')
    //- div.ui.form.segment
    div.field.disable
      label
       h1 Title
       input(type="text", placeholder="title", value='#{vote.title}', name="title", maxlength="10", readonly="readonly")
    div.field
      label category
      select(name='category')
        option(value='logo') logo
        option(value='background') background
    div.ui.two.column.relaxed.grid.basic.segment
      //first image
      div.column
        div.field
          input(name='firstDescription', value="#{vote.firstDescription}")
        div.field
          img.firstImage(src='#{vote.firstUrl}')

      div.ui.vertical.divider

      //second image
      div.column
        div.field
          input(name='secondDescription', value="#{vote.secondDescription}")
        div.field
          img.secondImage(src='#{vote.secondUrl}')
    div.field
      label
        h1 Question
        textarea(name='question') #{vote.question}
    input(type='submit', value='save')