#detail
  form.deleteForm
    input(type='hidden', name='voteId', value='#{vote._id}')
    input(type='hidden', name='firstImageId', value='#{vote.firstImageId}')
    input(type='hidden', name='secondImageId', value='#{vote.secondImageId}')
    button delete

  form.reportForm
    input(type='hidden', name='voteId', value='#{vote._id}')
    button report

  div.reportNum
    span reportNum:
    span #{vote.reportNum}

  div.edit
    a(href='/editvote/#{vote._id}') edit

  div.title
    span title:
    span #{vote.title}
  div.initiator
    span initiator:
    span #{vote.initiator}
  div.category
    span category:
    span #{vote.category}
  div.status
    span status:
    span #{vote.status}
  div.modifyDate
    span modifyDate:
    span #{vote.modifyDate}

  hr

  img.firstImage(src='#{vote.firstUrl}')
  div.firstDescription
    span firstDescription:
    span #{vote.firstDescription}
  div.numOfFirst
    span numOfFirst:
    span #{vote.numOfFirst}

  hr

  img.secondImage(src='#{vote.secondUrl}')
  div.secondDescription
    span secondDescription:
    span #{vote.secondDescription}
  div.numOfSecond
    span numOfSecond:
    span #{vote.numOfSecond}

  hr

  div.question
    span question:
    span #{vote.question}



