#detail
  span
    form.deleteForm
      input(type='hidden', name='voteId', value='#{vote._id}')
      input(type='hidden', name='firstImageId', value='#{vote.firstImageId}')
      input(type='hidden', name='secondImageId', value='#{vote.secondImageId}')
      button.ui.red.button 删除

  span
    form.reportForm
      input(type='hidden', name='voteId', value='#{vote._id}')
      button.ui.yellow.button 举报
  //- 投票的status
  //- span
  //-   form.statusForm
  //-     input(type='hidden', name='voteId', value='#{vote._id}')
  //-     if vote.isOpen
  //-       button.ui.green.button 关闭投票
  //-     else
  //-       button.ui.green.button 开放投票

  span
    form.editForm
      input(type='hidden')
      a.eiit(href='/editvote/#{vote._id}')
        butoon.ui.green.button 编辑

  div 
    h1 #{vote.title}
    div.detailbody
      div.detailhead
        div
          div.title_text
            h2 Question: #{vote.question}
            h5
              span 来自
              a(href='/profile/#{vote.initiator}')  #{vote.initiator}

          div.middleblock
            h5
              span 分类:
              span {{orderToCategory vote.category}}
            //- h5
            //-   span 状态:
            //-   span #{vote.status}
        div.detailquestion
          //- h5
          //-   span 最后修改日期:
          //-   span #{vote.modifyDate}
          //- h1 #{vote.question}
      div.ui.two.column.relaxed.grid.basic.segment
        //first image
        div.column
          div.firstimgform
            div.firstDescription
              span #{vote.firstDescription}
            div.field
            div.field
              img.firstImage(src='#{vote.firstUrl}')

        div.ui.vertical.divider

        //second image
        div.column
          div.secondimgform
            div.secondDescription
              span #{vote.secondDescription}
            div.field
            div.field
              img.secondImage(src='#{vote.secondUrl}')
      // 统计这里还存在一些问题，我希望拿到的数据已经是经过计算的百分比数据。需商榷。By 陈炜健
      div.ui.ribbon.label.huge 统计
      div.statisticsbody
        div.ui.two.column.relaxed.grid.basic.segment
            div.column
              div.field
                h2 票数
                div
                  h5 #{vote.numOfFirst} 票
                  div.bar(style='width:{{percentage vote.numOfFirst vote.numOfSecond}}')
              div.field 
                h2 性别分布
                div
                  h5 男
                   //- 隐藏各项票数
                  //- span #{vote.statisticsOfFirst.gender.male}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.gender.male vote.statisticsOfSecond.gender.male}}')
                div
                  h5 女
                  //- span #{vote.statisticsOfFirst.gender.female}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.gender.female vote.statisticsOfSecond.gender.female}}}')
              div.field 
                h2 年龄分布
                div
                  h5 0-20
                  //- span #{vote.statisticsOfFirst.age.group0}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.age.group0 vote.statisticsOfSecond.age.group0}}')
                div
                  h5 21-30
                  //- span #{vote.statisticsOfFirst.age.group1}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.age.group1 vote.statisticsOfSecond.age.group1}}')
                div
                  h5 31-40
                  //- span #{vote.statisticsOfFirst.age.group2}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.age.group2 vote.statisticsOfSecond.age.group2}}')
                div
                  h5 41-50
                  //- span #{vote.statisticsOfFirst.age.group3}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.age.group3 vote.statisticsOfSecond.age.group3}}')
                div
                  h5 50+
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.age.group4 vote.statisticsOfSecond.age.group4}}')
              div.field 
                h2 职业分布
                div
                  h5 互联网科技
                  //- span #{vote.statisticsOfFirst.occupation.occup0}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup0 vote.statisticsOfSecond.occupation.occup0}}')
                div
                  h5 金融
                  //- span #{vote.statisticsOfFirst.occupation.occup1}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup1 vote.statisticsOfSecond.occupation.occup1}}')
                div
                  h5 信息传媒
                  //- span #{vote.statisticsOfFirst.occupation.occup2}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup2 vote.statisticsOfSecond.occupation.occup2}}')
                div
                  h5 教育
                  //- span #{vote.statisticsOfFirst.occupation.occup3}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup3 vote.statisticsOfSecond.occupation.occup3}}')
                div
                  h5 医疗卫生
                  //- span #{vote.statisticsOfFirst.occupation.occup4}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup4 vote.statisticsOfSecond.occupation.occup4}}')
                div
                  h5 服务业
                  //- span #{vote.statisticsOfFirst.occupation.occup5}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup5 vote.statisticsOfSecond.occupation.occup5}}')
                div
                  h5 地产建筑
                  //- span #{vote.statisticsOfFirst.occupation.occup6}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup6 vote.statisticsOfSecond.occupation.occup6}}')
                div
                  h5 国家机关
                  //- span #{vote.statisticsOfFirst.occupation.occup7}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup7 vote.statisticsOfSecond.occupation.occup7}}')
                div
                  h5 农林牧鱼
                  //- span #{vote.statisticsOfFirst.occupation.occup8}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup8 vote.statisticsOfSecond.occupation.occup8}}')
                div
                  h5 制作加工
                  //- span #{vote.statisticsOfFirst.occupation.occup9}
                  div.bar(style='width:{{percentage vote.statisticsOfFirst.occupation.occup9 vote.statisticsOfSecond.occupation.occup9}}')

            div.ui.vertical.divider

            div.column
              div.field
                h2 票数
                div
                  h5 #{vote.numOfSecond} 票
                  div.bar(style='width:{{percentage vote.numOfSecond vote.numOfFirst}}')

              div.field 
                h2 性别分布
                div
                  h5 男
                  //- span #{vote.statisticsOfSecond.gender.male}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.gender.male vote.statisticsOfFirst.gender.male}}')
                div
                  h5 女
                  //- span #{vote.statisticsOfSecond.gender.female}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.gender.female vote.statisticsOfFirst.gender.female}}')
              div.field
                h2 年龄分布
                div
                  h5 0-20
                  //- span #{vote.statisticsOfSecond.age.group0}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.age.group0 vote.statisticsOfFirst.age.group0}}')
                div
                  h5 21-30
                  //- span #{vote.statisticsOfSecond.age.group1}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.age.group1 vote.statisticsOfFirst.age.group1}}')
                div
                  h5 31-40
                  //- span #{vote.statisticsOfSecond.age.group2}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.age.group2 vote.statisticsOfFirst.age.group2}}')
                div
                  h5 41-50
                  //- span #{vote.statisticsOfSecond.age.group3}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.age.group3 vote.statisticsOfFirst.age.group3}}')
                div
                  h5 50+
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.age.group4 vote.statisticsOfFirst.age.group4}}')
              div.field
                h2 职业分布
                div
                  h5 互联网科技
                  //- span #{vote.statisticsOfSecond.occupation.occup0}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup0 vote.statisticsOfFirst.occupation.occup0}}')
                div
                  h5 金融
                  //- span #{vote.statisticsOfSecond.occupation.occup1}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup1 vote.statisticsOfFirst.occupation.occup1}}')
                div
                  h5 信息传媒
                  //- span #{vote.statisticsOfSecond.occupation.occup2}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup2 vote.statisticsOfFirst.occupation.occup2}}')
                div
                  h5 教育
                  //- span #{vote.statisticsOfSecond.occupation.occup3}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup3 vote.statisticsOfFirst.occupation.occup3}}')
                div
                  h5 医疗卫生
                  //- span #{vote.statisticsOfSecond.occupation.occup4}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup4 vote.statisticsOfFirst.occupation.occup4}}')
                div
                  h5 服务业
                  //- span #{vote.statisticsOfSecond.occupation.occup5}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup5 vote.statisticsOfFirst.occupation.occup5}}')
                div
                  h5 地产建筑
                  //- span #{vote.statisticsOfSecond.occupation.occup6}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup6 vote.statisticsOfFirst.occupation.occup6}}')
                div
                  h5 国家机关
                  //- span #{vote.statisticsOfSecond.occupation.occup7}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup7 vote.statisticsOfFirst.occupation.occup7}}')
                div
                  h5 农林牧鱼
                  //- span #{vote.statisticsOfSecond.occupation.occup8}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup8 vote.statisticsOfFirst.occupation.occup8}}')
                div
                  h5 制作加工
                  //- span #{vote.statisticsOfSecond.occupation.occup9}
                  div.bar(style='width:{{percentage vote.statisticsOfSecond.occupation.occup9 vote.statisticsOfFirst.occupation.occup9}}')
      div.ui.ribbon.label.huge 评论
      div.detailbottom
        each comment
          div.detail_comment_content
                div.username
                  a(href='/profile/#{username}')  #{username}
                div.content  #{content}
        form.commentForm.ui.form
          input(type='hidden',name='voteId',value='#{vote._id}')
          div.field
              textarea(name='content')
          button.ui.gray.button submit






