#detail
  form.deleteForm
    input(type='hidden', name='voteId', value='#{vote._id}')
    input(type='hidden', name='firstImageId', value='#{vote.firstImageId}')
    input(type='hidden', name='secondImageId', value='#{vote.secondImageId}')
    button delete

  form.reportForm
    input(type='hidden', name='voteId', value='#{vote._id}')
    button report

  form.statusForm
    input(type='hidden', name='voteId', value='#{vote._id}')
    if vote.isOpen
      button close
    else
      button open

  div.reportNum
    span reportNum:
    span #{vote.reportNum}

  div.edit
    a(href='/editvote/#{vote._id}') edit

  div.title
    span title:
    span #{vote.title}
  div.initiator
    span initiator:
    span #{vote.initiator}
  div.category
    span category:
    span #{vote.category}
  div.status
    span status:
    span #{vote.status}
  div.modifyDate
    span modifyDate:
    span #{vote.modifyDate}

  hr

  img.firstImage(src='#{vote.firstUrl}')
  div.firstDescription
    span firstDescription:
    span #{vote.firstDescription}
  div.numOfFirst
    span numOfFirst:
    span #{vote.numOfFirst}

  hr

  img.secondImage(src='#{vote.secondUrl}')
  div.secondDescription
    span secondDescription:
    span #{vote.secondDescription}
  div.numOfSecond
    span numOfSecond:
    span #{vote.numOfSecond}

  hr

  div.question
    span question:
    span #{vote.question}

  div.statistics
    div first statistics
      div gender:
        div
          span male:
          span #{vote.statisticsOfFirst.gender.male}
        div
          span female:
          span #{vote.statisticsOfFirst.gender.female}

      hr

      div age:
        div
          span 0-20:
          span #{vote.statisticsOfFirst.age.group0}
        div
          span 21-30:
          span #{vote.statisticsOfFirst.age.group1}
        div
          span 31-40:
          span #{vote.statisticsOfFirst.age.group2}
        div
          span 41-50:
          span #{vote.statisticsOfFirst.age.group3}
        div
          span 50+:
          span #{vote.statisticsOfFirst.age.group4}

      hr

      div occupation:
        div
          span 互联网科技:
          span #{vote.statisticsOfFirst.occupation.occup0}
        div
          span 金融:
          span #{vote.statisticsOfFirst.occupation.occup1}
        div
          span 信息传媒:
          span #{vote.statisticsOfFirst.occupation.occup2}
        div
          span 教育:
          span #{vote.statisticsOfFirst.occupation.occup3}
        div
          span 医疗卫生:
          span #{vote.statisticsOfFirst.occupation.occup4}
        div
          span 服务业:
          span #{vote.statisticsOfFirst.occupation.occup5}
        div
          span 地产建筑:
          span #{vote.statisticsOfFirst.occupation.occup6}
        div
          span 国家机关:
          span #{vote.statisticsOfFirst.occupation.occup7}
        div
          span 农林牧鱼:
          span #{vote.statisticsOfFirst.occupation.occup8}
        div
          span 制作加工:
          span #{vote.statisticsOfFirst.occupation.occup9}

      //- 获取第二张图片的数据只需吧上面的 statisticsOfFirst 改成 statisticsOfSecond 即可






